<div *ngIf="user">
  <div>
    <label>FirstName: </label> {{user.firstName}}
  </div>
  <div>
    <label>LastName: </label> {{user.lastName}}
  </div>
  <div>
    <label>Active: </label> {{user.active}}
  </div>
  <div>
    <label>Company: </label> {{user.company}}
  </div>
  <div>
    <label>Salary: </label> {{user.salary}}
  </div>

  <span class="button is-small btn-primary" *ngIf='user.active' (click)='updateActive(false)'>Inactive</span>

  <span class="button is-small btn-primary" *ngIf='!user.active' (click)='updateActive(true)'>Active</span>

  <span class="button is-small btn-danger" (click)='deleteUser()'>Delete</span>

  <hr/>
</div>
