<h3>Find By LastName</h3>
<div style="width: 300px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="lastName">LastName</label>
      <input type="text" class="form-control" id="lastName" required [(ngModel)]="lastName" name="lastName">
    </div>

    <div class="btn-group">
      <button classs = "btn btn-primary" type="submit" class="btn btn-success">Submit</button>
    </div>
  </form>
</div>
<ul>
  <li *ngFor="let user of users">
    <h4>{{user.id}} - {{user.firstName}} {{user.lastName}}</h4>
  </li>
</ul>
